{% extends "personal/homeChofer.html" %}
{% block panel %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<div class="container" style="align-content: center;">
    <div style="text-align: center;" class="panel-heading">
        <h1 class="panel-title"> VIAJES </h1>
    </div>
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
        <div class="col-4" style="text-align: center;">
            {% with mensajes= get_flashed_messages(category_filter=["error"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-danger" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["success"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-success" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["warning"])%}
            {% if mensajes %}
                {% for messages in mensajes%}
                    <div class="alert alert-info" role="alert">
                        {{ messages }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% if viene == 1 %}
        <a href= "{{url_for('render_viajesFinalizados_chofer')}}" class="btn va_btn">Ver Finalizados</a>
        {% if ok %}
        <h4>Proximo viaje</h4>
            <div class="columns">
                <div class="column">
                    <table class="table" style="background-color: #FFFFFF80;">
                        <thead>  
                            <tr>
                                <th style="text-align: center">Origen</th>
                                <th style="text-align: center">Destino</th>
                                <th style="text-align: center">Asientos</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Salida</th>
                                <th style="text-align: center">Llegada</th>
                                <th style="text-align: center">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center">{{prox.origen}}</td>
                                <td style="text-align: center">{{prox.destino}}</td>
                                <td style="text-align: center">{{prox.asientos}}</td>
                                <td style="text-align: center">{{prox.fecha}}</td>
                                <td style="text-align: center">{{prox.horaSalida}}</td>
                                <td style="text-align: center">{{prox.horaLlegada}}</td>
                                <td style="text-align: center">
                                    <div style="text-align: center;">
                                        {% if (prox.paso == prox.tienePasajeros) and (prox.estado == 1) %}
                                            <a style="margin-right: 1%;" href= "{{ url_for('comenzarViaje', id=prox.id)}}" class="btn btn-success">Comenzar</a>
                                        {% else %}
                                            <button style="margin-right: 1%;" class="btn btn-success" disabled>Comenzar</button>
                                        {% endif %}
                                        {% if prox.estado == 2 %}
                                            <a style="margin-right: 1%;" href= "{{ url_for('finalizarViaje', id=prox.id)}}" class="btn btn-success">Finalizar</a>
                                        {% else %}
                                            <button style="margin-right: 1%;" class="btn btn-success" disabled>Finalizar</button>
                                        {% endif %}
                                        <a style="margin-right: 1%;" href= "{{url_for('listado_pasajeros', id = prox.id)}}" class="btn btn-primary">Ver pasajeros</a>
                                        {% if prox.estado == 2 %}
                                            <button style="margin-right: 1%;" class="btn btn-danger" disabled>Cancelar</button>
                                        {% else %}
                                            <a style="margin-right: 1%;" href= "{{url_for('chofer_cancela_viaje', id = prox.id)}}" onclick= "return confirm('Estas seguro que deseas cancelar?')" class="btn btn-danger">Cancelar</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <h4>Otros viajes ...</h4>
        {% endif %}
    {% else %}
        <a href= "{{url_for('render_viajesPendientes_chofer')}}" class="btn va_btn">Ver Pendientes</a>
    {% endif %}
    <table class="table" style="background-color: #FFFFFF80;">
        <thead>
            <tr>
                <th style="text-align: center">Origen</th>
                <th style="text-align: center">Destino</th>
                <th style="text-align: center">Asientos</th>
                <th style="text-align: center">Fecha</th>
                <th style="text-align: center">Salida</th>
                <th style="text-align: center">Llegada</th>
                {% if viene == 1 %}
                    <th style="text-align: center">Operaciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for viaje in viajes %}
                <tr>
                    <td style="text-align: center">{{viaje.origen}}</td>
                    <td style="text-align: center">{{viaje.destino}}</td>
                    <td style="text-align: center">{{viaje.asientos}}</td>
                    <td style="text-align: center">{{viaje.fecha}}</td>
                    <td style="text-align: center">{{viaje.horaSalida}}</td>
                    <td style="text-align: center">{{viaje.horaLlegada}}</td>
                    {% if viene == 1 %}
                    <td style="text-align: center">
                        <div style="text-align: center;">
                            {% if viaje.estado == 2 %}
                                <button style="margin-right: 1%;" class="btn btn-danger" disabled>Cancelar</button>
                            {% else %}
                                <a style="margin-right: 1%;" href= "{{url_for('chofer_cancela_viaje', id = viaje.id)}}" onclick= "return confirm('Estas seguro que deseas cancelar?')" class="btn btn-danger">Cancelar</a>
                            {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}