{% extends "cliente/homeCliente.html" %}
{% block panel %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
    <div class="col-4" style="text-align: center;">
        {% with mensajes= get_flashed_messages(category_filter=["error"])%}
        {% if mensajes %}
        {% for messages in mensajes%}
        <div class="alert alert-danger" role="alert">
            {{ messages }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% with mensajes= get_flashed_messages(category_filter=["success"])%}
        {% if mensajes %}
        {% for messages in mensajes%}
        <div class="alert alert-success" role="alert">
            {{ messages }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
<div class="container" style="align-content: center;">
    <form name="form" action="{{url_for('comprar_viaje', id = viaje.id)}}" method="POST">
    <table class="table" style="background-color: #FFFFFF80; width: 40% ;margin: 0 auto; border-collapse: collapse;">
        <thead>
            <h3 style="text-align: center;">Detalle Viaje</h3>
        </thead>
        <tbody>
            <tr>
                <td><strong>Origen:</strong> {{viaje.origen}}</td>
            </tr>
            <tr>
                <td><strong>Destino:</strong> {{viaje.destino}}</td>
            </tr>
            <tr>
                <td> <strong>Fecha:</strong> {{viaje.fecha}}</td>
            </tr>
            <tr>
                <td><strong>Salida:</strong> {{viaje.salida}}</td>
            </tr>
            <tr>
                <td><strong>Llegada:</strong> {{viaje.llegada}}</td>
            </tr>
            <tr>
                <td><strong>Precio:</strong> $<span id="precio">{{viaje.precio}}</span></td>
            </tr>
            <tr>
                <td><strong>Cantidad de boletos:</strong><input id="cantidad" type="number" value="1" min="1" name="cantidadBoletos" onclick="mult()"></td>
            </tr>
        </tbody>
    </table>
</div>
<div style="text-align: center; margin-top: 1%;">
    <div>
        <strong>
            <p>Precio Final: $<span id='suma'>{{viaje.precio}}</span></p>
            
        </strong> <!-- ACA IRIA LA SUMA DE LA CANTIDAD DE BOLETOS MAS EL PRECIO DE LOS INSUMOS-->
    </div>  
</div>
<div style="text-align: center;">
    <button type="submit" name="button" style="margin-top: 1%;" class="btn va_btn">Confirmar Compra</button>
    <!-- <a href="{{url_for('comprar_viaje', id = viaje.id)}}" >Confirmar
        Compra</a> -->
    <a href="{{url_for('home_cliente')}}" style="margin-top: 1%;" class="btn va_btn">Cancelar</a>
</div>
</form>
<script>
    function mult(){
        let total = ((document.getElementById('cantidad').value) * (document.getElementById("precio").innerHTML))
        document.getElementById('suma').innerHTML = total
    }
</script>
{% endblock %}