{% extends "cliente/homeCliente.html" %}
{%  block panel %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<section class="section">
    <div style="text-align: center;">
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
            <div class="col-4" style="text-align: center;">
                <!-- CAMBIE DE LUGAR LOS MENSAJES PARA QUE LOS DE ERROR DE LA BUSQUEDA QUEDEN ARRIBA DEL BUSCADOR -->
                {% with mensajes= get_flashed_messages(category_filter=["error"])%}
                    {% if mensajes %}
                        {% for messages in mensajes%}
                            <div class="alert alert-danger" role="alert">
                                {{ messages }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with mensajes= get_flashed_messages(category_filter=["warning"])%}
                    {% if mensajes %}
                        {% for messages in mensajes%}
                            <div class="alert alert-info" role="alert">
                                {{ messages }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% if bloqueado == 0%}
            <form class="form-inline" style="margin-bottom: 10%;justify-content: center;" action="{{url_for('busqueda')}}" , method="POST">
                <input class="form-control mb-2 mr-sm-2" type="search" placeholder="Origen" name="origen" required>
                <input class="form-control mb-2 mr-sm-2" type="search" placeholder="Destino" name="destino" required>
                <input class="form-control mb-2 mr-sm-2" type="date" placeholder="Fecha" name="fecha" required>
                <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Buscar</button>
            </form>
        {% else %}
            <p style="text-align: center;"> LA BUSQUEDA Y COMPRA DE UN PASAJE QUEDA BLOQUEADA POR 14 DIAS, DEBIDO A CASO SOSPECHOSO DE COVID</p>
        {%endif%}
        {%if ok:%}
            <h4>Proximo viaje</h4>
            <div class="columns">
                <div class="column">
                    <table class="table" style="background-color: #FFFFFF80;">
                        <thead>
                            
                            <tr>
                                <th style="text-align: center">Origen</th>
                                <th style="text-align: center">Destino</th>
                                <th style="text-align: center">Fecha</th>
                                <th style="text-align: center">Salida</th>
                                <th style="text-align: center">Llegada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center">{{prox.origen}}</td>
                                <td style="text-align: center">{{prox.destino}}</td>
                                <td style="text-align: center">{{prox.fecha}}</td>
                                <td style="text-align: center">{{prox.salida}}</td>
                                <td style="text-align: center">{{prox.llegada}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {%endif%}
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
            <div class="col-4" style="text-align: center;">
                <!-- CAMBIE DE LUGAR LOS MENSAJES PARA QUE LOS DE EXITO DE LOS COMENTARIOS QUEDEN ARRIBA DEL TEXT AREA -->
                {% with mensajes= get_flashed_messages(category_filter=["success"])%}
                    {% if mensajes %}
                        {% for messages in mensajes%}
                            <div class="alert alert-success" role="alert">
                                {{ messages }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <form action="{{url_for('alta_comentario', id = idCliente)}}}" , method="POST">      
            <p aria-required="true"><textarea cols="80" rows="3" name="descripcion"  wrap="hard" placeholder="COMPARTE TU OPINION ACERCA DE COMBI-19" required></textarea></p>
            <button type="submit" name="button" class="btn va_btn">Agregar</button>
        </form>
    </div>
    <br>
    <a href= "{{url_for('listado_misComentarios')}}" class="btn va_btn"> Mis comentarios </a>
    <br>
    <br>
    <table width="1040" cellspacing="2" cellpadding="3" style="background-color: #FFFFFF80">
        <tr>
            <td>Comentarios</td> 
        </tr>
        <tr>
            <td style="background-color: #FFFFFF80;">   
                {% for comentario in comentarios%}
                    <div>
                        <blockquote class="blockquote">
                            <div style="text-align: left;">
                                <p>{{comentario.desc}}.</p>
                                <strong><em><footer class="blockquote-footer" style="font-size: 75%;">{{comentario.nomCliente}} {{comentario.apeCliente}}, {{comentario.fecha}}</footer></em></strong>
                            </div>
                        </blockquote>
                    </div>
                {% endfor %}
            </td> 
        </tr>    
    </table>
</section>
{% endblock %}