{% extends "cliente/homeCliente.html" %}
{%  block panel %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<section class="section">
    <div style="text-align: center;">
        <h1>MIS PROXIMOS VIAJES VIAJES</h1>
    </div>
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
        <div class="col-4" style="text-align: center;">
            {% with mensajes= get_flashed_messages(category_filter=["error"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-danger" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["success"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-success" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["warning"])%}
            {% if mensajes %}
                {% for messages in mensajes%}
                    <div class="alert alert-info" role="alert">
                        {{ messages }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="table" style="background-color: #FFFFFF80;">
                <thead>
                    <tr>
                        <th style="text-align: center">Origen</th>
                        <th style="text-align: center">Destino</th>
                        <th style="text-align: center">Fecha</th>
                        <th style="text-align: center">Salida</th>
                        <th style="text-align: center">Llegada</th>
                        <th style="text-align: center">Estado</th>
                        <th style="text-align: center">Asientos reservados</th>
                        <th style="text-align: center">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for viaje in viajes %}
                    <tr>
                        <td style="text-align: center">{{viaje.origen}}</td>
                        <td style="text-align: center">{{viaje.destino}}</td>
                        <td style="text-align: center">{{viaje.fecha}}</td>
                        <td style="text-align: center">{{viaje.salida}}</td>
                        <td style="text-align: center">{{viaje.llegada}}</td>
                        <td style="text-align: center" >{{viaje.estado}}</td>
                        <td style="text-align: center" >{{viaje.asientos}}</td>
                        <td style="text-align: center">
                            <div style="text-align: center;">
                                <a href= "{{url_for('cancelar_viaje', id = viaje.id)}}" onclick= "return confirm('Estas seguro que deseas cancelar el viaje?')" class="btn btn-danger">Cancelar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3 login_container" style="margin-bottom: 4%; text-align: center;">
        <a href= "{{url_for('home_cliente')}}" class="btn va_btn">Volver Atras</a>
    </div>
</section>
{% endblock %}