/* Esto es el fichero de estilo base de la pagina */





/*Estilo de la parte navbar*/
body {
  font-size: 28px;
}

.homeLetra{

  color: white;
  font-size: x-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent !important;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:150%;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(9, 99, 111, 0.85);
  
}

a.navbar-brand {
  background-color: transparent !important;
}



/* Estilo de fondo */ 

body{
  background-color: transparent imp !important;
}


div{
  background-color:transparent !important;
}

.header {
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to top, #063038, #bdc3c7);  
  background: linear-gradient(to top, #063038, #bdc3c7);
  background-size: cover;
  min-height: 100vh;
}

.cierre{
  text-align:justify;
}

.header .navbar {
  background-color: transparent !important;
}