form{
     width: 35%;
     border-radius:5px;
     position:relative;
     font-family: 'Libre Franklin', sans-serif;
 }

 form > div {
     float:left;margin-bottom:30px;
 }
 form > div > p{
     font-size: 12px;margin-bottom: 3px;
 }
 form > div > input{
     font-size:12px;letter-spacing:1px;border-bottom: 1px ;width: 100%;color: gray;
 }

 form > p:last-of-type{
     text-align: center;width: 100%;color:white;
 }

 form > p:last-of-type > a{
     cursor:pointer;border:0;
     border-radius:  28px;
     font-size: 12px; 
 }

 .term{
    width:  100%;align-items:  center;
 }

 .term > i{
     cursor:pointer;width:20px;
 }

 .term > span{
     font-size:12px;
 }

 