{% extends "layout.html" %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="{{url_for('static', filename='style_addChofer.css')}}">

<div >
    <form action="/altaChofer" , method="POST">
        <div style="width:100%;">
            <p>Nombre</p>
            <input type="text" name="nombre" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Apellido</p>
            <input type="text" name="apellido" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Email</p>
            <input type="email" name="email" value="">
        </div>
        <br>
        <div style="width:100%">
            <p>Documento</p>
            <input type="text" name="documento" value="">
        </div>
        <br>
        <div style="width:100%">
            <p>Contraseña</p>
            <input type="password" name="password" value="">
        </div>
        <br>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Continuar</button>
        </div>
    </form> 
</div>

{% endblock %}