{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='style_addChofer.css')}}">

<div>
    <form action="/actualizarCombi/{{combi.0}}", method="POST">
        <div style="width:100%;">
            <p>Patente</p>
            <input type="text" name="patente" value="{{combi.1}}">
        </div>
        <br>
        <div style="width:100%;">
            <p>Año</p>
            <input type="text" name="año" value="{{combi.2}}">
        </div>
        <br>
        <div style="width:100%;">
            <p>Modelo</p>
            <input type="text" name="modelo" value="{{combi.3}}">
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Actualizar</button>
        </div>
    </form> 
</div>

{% endblock %}