{% extends "homeCliente.html" %}
{%  block panel %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<section class="section">
    <div style="text-align: center;">
        <h1>Editar Comentario</h1>
        <form action="{{url_for('editar_comentario', id = comentario.id)}}}" , method="POST">      
            <p aria-required="true"><textarea cols="80" rows="5" name="descripcion"  wrap="hard" required> {{comentario.descripcion}} </textarea></p>
            <button type="submit" name="button" class="btn va_btn">Actualizar</button>
        </form>
    </div>
</section>
{% endblock %}