{% extends "layout.html" %}
{% block content %}

<!-- <link rel="stylesheet" href="{{url_for('static', filename='style_addChofer.css')}}"> -->

<div >
    <h3 class="is-size-3">Editar combi</h3>
    <br>
    <form action="/altaCombi" , method="POST">
        <div style="width:100%;">
            <p>Modelo</p>
            <input type="text" name="modelo" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Patente</p>
            <input type="text" name="patente" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Asientos</p>
            <input type="text" name="asientos" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Tipo</p>
            <input type="text" name="tipo" value="">
        </div>
        <br>
        <div style="width:100%;">
            <p>Chofer</p>
            <input type="text" name="id_chofer" value="">
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Continuar</button>
        </div>
    </form> 
</div>

{% endblock %}