<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMBI-19</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='style_layout.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home"></a>
                <img src= "{{ url_for ('static', filename='logo.png') }}" width="120" height="120">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">  INICIO  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Contacto">  CONTACTO  </a>
                        </li>
                     <li class="nav-item">
                            <a class="nav-link active" href="#">  INFORMACION  </a>
                        </li>
                     <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" arias-haspopup="true" aria-expanded="false">
                                  COMPRAR BOLETO
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Buscar viaje</a>
                                <a class="dropdown-item" href="#">Ver proximos viajes</a>
                                <a class="dropdown-item" href="#">Ver proximos destinos</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container p-4">
            {% block content %}
            
            {% endblock %}
        </div>
    </header>
</body>