{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for ('static', filename='style_login.css') }}" />

<section class="section">
    <div style="text-align: center;">
        <h1>COMBIS</h1>
    </div>
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 2%;">
        <div class="col-4" style="text-align: center;">
            {% with mensajes= get_flashed_messages(category_filter=["error"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-danger" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["success"])%}
                {% if mensajes %}
                    {% for messages in mensajes%}
                        <div class="alert alert-success" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with mensajes= get_flashed_messages(category_filter=["warning"])%}
            {% if mensajes %}
                {% for messages in mensajes%}
                    <div class="alert alert-info" role="alert">
                        {{ messages }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="d-flex justify-content-center mt-3 login_container" style="margin-bottom: 4%; text-align: center;">
                <a href= "{{url_for('render_alta_combi')}}" class="btn va_btn">Agregar</a>
            </div>
            <table class="table" style="background-color: #FFFFFF80;">
                <thead>
                    <tr>
                        <th style="text-align: center">Patente</th>
                        <th style="text-align: center">Modelo</th>
                        <th style="text-align: center">Cantidad Asientos</th>
                        <th style="text-align: center">Tipo</th>
                        <th style="text-align: center">Chofer ID</th>
                        <th style="text-align: center">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for combi in combis %}
                    <tr>
                        <td style="text-align: center">{{combi.patente}}</td>
                        <td style="text-align: center">{{combi.modelo}}</td>
                        <td style="text-align: center">{{combi.asientos}}</td>
                        <td style="text-align: center">{{combi.tipo}}</td>
                        <td style="text-align: center">{{combi.id_chofer}}</td>
                        <td>
                            <div style="text-align: center;">
                                <a style="margin-right: 1%;" href= "{{url_for('render_editar_combi', id = combi.id)}}" class="btn va_btn">Editar</a>
                                <a href= "#"  onclick= "return confirm('Estas seguro que deseas eliminar?')" class="btn va_btn">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container" style="margin-bottom: 4%; text-align: center;">
            <a href= "{{url_for('home_admin')}}" class="btn va_btn">Volver Atras</a>
        </div>
</section>

{% endblock %}